header {
    height: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-weight: 500;
    padding: 15px;
}

.NavLink {
    color: black;
}

.NavLink--active {
    color: rgb(138, 138, 255);
}